.container {
  background-color: rgb(247, 245, 240);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

@media screen and (min-width: 900px) {

#small_containter {
   display: grid;
  grid-template-rows: 30% 70%;
  background-color: rgb(6, 157, 245);
  height: 70%;
  width: 35%;
  border-radius: 5%;
  margin-top: 4%; 
}



#screen input {
  background-color: rgb(253, 251, 251);
  height: 40%;
  width: 78%;
  font-size: 70px;
  margin: 15%  10%  10% 10% ; 
  border-radius: 25px;
  text-align: end;
  font-family: "LED Digital 7", sans-serif;
}


.btn-container {

  
  
  /* display: grid;
  background-color: #0c03f9; 
  height: 80%;
  width: 89%;
 
  flex-direction: column; 
  
  padding: 1% 10% 2% 1%;
  font-size: 40px;
  /* margin: 100px 40px 10px 40px; */
} 






.button-row {
   background-color: green; 
  margin: 2%;
  
  /*
  padding: 0%;
  height: 80%;
  width: 90%;
  background-color: pink; */

}


button {

  display: inline-block;
  /* height: 40px;
  width: 20px;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: #0c03f9;
  color: white;
  border-radius: 10px;
  margin: 5px; */
}

}

